In [41]:
import pandas as pd
import datetime
from datetime import datetime

In [42]:
df = pd.read_csv('carbonmonitor.csv')

In [43]:
df['date']=pd.to_datetime(df['date'],dayfirst=True)

In [44]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day

In [45]:
df1,df2= [x for _, x in df.groupby(df['year']==2021)]

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15204 entries, 10220 to 76537
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    15204 non-null  object
 1   date       15204 non-null  datetime64[ns]
 2   sector     15204 non-null  object
 3   value      15204 non-null  float64
 4   timestamp  15204 non-null  int64
 5   year       15204 non-null  int64
 6   month      15204 non-null  int64
 7   day        15204 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 1.0+ MB

In [47]:
df3,df4= [x for _, x in df2.groupby(df2['month']>3)]

In [48]:
df4= df4.drop(['date'], axis=1)

In [49]:
df4.head()

         country sector      value   timestamp  year  month  day
11480     Brazil  Power   0.244103  1617206400  2021      4    1
11481      China  Power  13.029000  1617206400  2021      4    1
11482  EU27 & UK  Power   2.159780  1617206400  2021      4    1
11483     France  Power   0.050293  1617206400  2021      4    1
11484    Germany  Power   0.558719  1617206400  2021      4    1

In [50]:
df4.month.value_counts()

5    2604
6    2520
4    2520
Name: month, dtype: int64

In [51]:
df4.to_csv('CE_test.csv')

In [52]:
df5= pd.concat([df1,df3], axis=0)

In [22]:
df5.head()

     country       date sector      value   timestamp  year  month  day
0     Brazil 2019-01-01  Power   0.108768  1546272000  2019      1    1
1      China 2019-01-01  Power  14.251000  1546272000  2019      1    1
2  EU27 & UK 2019-01-01  Power   1.676920  1546272000  2019      1    1
3     France 2019-01-01  Power   0.049075  1546272000  2019      1    1
4    Germany 2019-01-01  Power   0.349691  1546272000  2019      1    1

In [29]:
df5= df5.drop(['date'], axis=1)

In [30]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74018 entries, 0 to 76537
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    74018 non-null  object
 1   sector     74018 non-null  object
 2   value      74018 non-null  float64
 3   timestamp  74018 non-null  int64
 4   year       74018 non-null  int64
 5   month      74018 non-null  int64
 6   day        74018 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 4.5+ MB

In [31]:
df5.to_csv('CE_train.csv')